body {
    font-family: sans-serif;
    background: #060606;
    padding: 1rem;
}

.page {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f0e4;
    height:80%;
}

h1 {
    font-family: serif;
    color: #9792e3;
    margin: 1rem 0;
}

a {
    color: #61E786;
}

a:hover {
    color: #001524;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: #9792e3;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
    color: #61E786;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 1rem;
}

.content>header {
    border-bottom: 1px solid #9792e3;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: #FFECD1;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: center;
    min-width: 10em;
    flex-basis:1;

}
.startGameButton{
    height:25px;
}

.startGameButton:hover{
    box-shadow:5px 5px #001524;
}

.content ul{
    list-style-type: none;
    display:flex;
    justify-content:space-around;
    padding:0 !important;
}

.content button{
    /* border: 5px solid #9792e3;
    box-shadow: 3px 4px  #001524; */
    background-color: #559CAD;
    color:#FFECD1;
    /* height:25em; */
    /* flex-grow: .5; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    max-width: 300px;
    min-width:300px;
    margin-bottom:10%;
}

.cards button:hover{
    border-block:7px solid #15616D;
    box-shadow:-14px 7px 5px 0px #001524 !important;
    transform:scale(1.1);
    /* border:7px solid #61E786; */

}
.cards:hover .trackName{
    text-decoration: underline;
}

.trackName{
    /* align-items: center;
    justify-content: center; */
    margin:auto;
    display:flex;

}
.trackName span{
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow:hidden;
}
.trackName span:first-child{
    margin-right:1em;
}
.trackName span:last-child{
    margin-left:1em;
}



.content span{
    flex-basis:1;

}
.content button .title{
    color:#f9f0e4;
    font-size:45px;
    overflow:auto;
}

.content button .artist{
    font-size:35px;
    color:#f9f0e4;
    overflow: auto;
}

.content form{
    margin:auto;
}

#pageTitle{
    color:#61E786;
}
.game_Mode{
    justify-content: space-between;
    flex-direction: row !important;
}
.game_Mode label{
    align-content: center;
    font-size: 20px;
}

.game_Mode button{
    align-self:flex-end;
}
.game_Mode button:hover{
    box-shadow:5px 5px #001524;
    border:7px solid #001524;
}


.startGameButton{
    background-color:#61E786;
    box-shadow: 3px 0 #9792e3;
    height:75px;
    width:150px;
    color:#001524;
    font-size: 25px;
}

#endButton{
    font-size:15px;
}

p2{
    font-size: 30px;
    text-decoration: underline;
    margin:auto;

}
#newGame input{
   margin:30px auto;
    box-shadow: 3px 0 #9792e3;
    height:50px;
    width:100px;
    color:#001524;
    font-size: 25px;

}

.results{
    display:flex;

}

#correct{
    color:#61E786;
    margin-right:10px;
    text-shadow:2px #001524;
    
}

#incorrect{
    color:#cc2f2e;
    margin-right:10px;
}

.artist{
    max-width:60%;
}
.startMenu{
    flex-basis:1;

}

.game_Mode{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.game_Mode h3{
    text-decoration: underline;
}

.game_Mode ul{
    width:100%;
}
option{
    width:50px;
}
form label{
    padding:10px;
}



.gamecard + img:hover{
    cursor: pointer;
    outline: 2px solid #4a4a4a;
}

.gamecard:checked + img{
    outline: 2px solid #4a4a4a;
}

.correct{
    outline: 3px solid #61E786;
}

.incorrect{
    outline: 3px solid #cc2f2e;
}

.hidden{
    visibility: hidden;
}