<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - Quizify</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <section class="page">
    <nav>
      
      <h1><a href="{{ url_for('home') }}">Quizify</a></h1>
      <h2>{% block question %}{% endblock %} </h2>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %} 
    <!-- Figure out conditional display -> if blocks to display correct/incorrect divs with css background colors -->
        <div class="flash">
          {{ message }}</div>
      {% endfor %}
      {% block content %}
        {% block start_Game %}{% endblock %}

      {% endblock %}
    </section>
  </section>
  {% block javascript %}{% endblock %}
</body>
</html>