{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% block start_Game %}
    <h2>Pick a game mode!</h2>
    <div class="game_Mode_container">
        <form name="game_Mode" class="game_Mode" method='POST'>
            <h3>Number of questions</h3>
            <ul class="startMenu">
                <li>
                    <input type="radio" id="_5" name="question_Number" value=5 checked="checked"></input>
                    <label for ="_5">5 questions</label>
                </li>
                <li>
                    <input type="radio" id="_10" name="question_Number" value=10></input>
                    <label for ="_10">10 questions</label>   
                </li>
                <li><input type="radio" id="_15" name="question_Number" value=15></input>
                    <label for ="_15">15 questions</label>
                </li>
                <li><input type="radio" id="_inf" name="question_Number" value="0"></input>
                    <label for ="_inf">Infinite</label>
                </li>
            </ul>
            <h3>Song Selection</h3>
            <ul class="startMenu">
                <li>
                    <input type="radio" id="my_playlists" name="source" value="my_playlists"></input>
                    <label for ="my_playlists">My Playlists</label>
                </li>
                <li>
                    <input type="radio" id="spotify" name="source" value="spotify" checked="checked">
                    <label for="spotify">Spotify Playlist</label>
                </li>
                <li id="selectPlaylist">
                    <label for="selectedSource">
                        <select name="selectedSource" id="selectedSource">
                            <option value="classicRock">Classic Rock</option>
                            <option value="pop">Pop</option>
                            <option value="indie">Indie</option>
                            <option value="showtunes">Showtunes</option>
                            <option value="country">Country</option>
                        </select>
                    </label>
                </li>
            </ul>
            <ul><li><input class="startGameButton" type="submit" value="Start Game"></li></ul>
            
            
        </form>    
    </div>



    {% endblock %}
{% endblock %}

{% block javascript %}
<script>
    const selectElement = document.getElementById("selectedSource")

    function addUserPlaylistOptions(){
        playlists = {{ playlists|tojson }}
        selectElement.innerHTML = ""
        if(playlists.length === 0){
            option = new Option("Log in to play with your own playlists")
            selectElement.add(option)
        }
        else{
            playlists.forEach(playlist =>  {
                option = new Option(playlist["playlist_name"], playlist["playlist_url"])
                selectElement.add(option)
            })
        }
    }

    function addGenericPlaylistOptions(){
        selectElement.innerHTML = `
            <option value="classicRock">Classic Rock</option>
            <option value="pop">Pop</option>
            <option value="indie">Indie</option>
            <option value="showtunes">Showtunes</option>
            <option value="country">Country</option>
        `
    }

    if (document.getElementById("my_playlists").checked){
        addUserPlaylistOptions()
    } else{
        addGenericPlaylistOptions()
    }

    // Add event listeners for either radio button being clicked. When either button is clicked, toggleInvis is called
    document.getElementById("spotify").addEventListener("click", addGenericPlaylistOptions)
    document.getElementById("my_playlists").addEventListener("click", addUserPlaylistOptions)

</script>
{% endblock %}
