{% extends 'base.html' %}

{% block question %}
{% if not session[game_length] %}
    {% set game_length = '∞' %}
{% endif %}
<h2>
    Question: {{ question }} / {{ game_length }}
</h2>
{% endblock %}

{% block header %}
  <h1>{% block title %}game_cards{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>Select the more popular song from below:</h1>
    <ul>
        {% for track in choices %}
            <li>
                <form class="cards" method="post">
                    <button type="submit" name="selected_track" value="{{ track['name'] }}">
                    <span class="title"> {{ track['name'] }}</span> by <span class="artist">{{ track['artists'] }}</span>
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('grade') }}">
        <input type="submit"  value="End game">
    </form>
{% endblock %}