<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Select the more popular song from below:</h1>
    <ul>
        {% for track in choices %}
            <li>
                <form action="{{ url_for('grade') }}" method="post">
                    <button type="submit" name="selected_track" value="{{ track['name'] }}">
                        {{ track['name'] }}
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
