{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% block start_Game %}
    <h2>Pick a game mode!</h2>
    <div class="game_Mode_container">
        <form name="game_Mode" class="game_Mode" method='POST'>
            <h3>Number of questions</h3>
            <ul class="startMenu">
                <li>
                    <input type="radio" id="_5" name="question_Number" value=5 checked="checked"></input>
                    <label for ="_5">5 questions</label>
                </li>
                <li>
                    <input type="radio" id="_10" name="question_Number" value=10></input>
                    <label for ="_10">10 questions</label>   
                </li>
                <li><input type="radio" id="_15" name="question_Number" value=15></input>
                    <label for ="_15">15 questions</label>
                </li>
                <li><input type="radio" id="_inf" name="question_Number" value="0"></input>
                    <label for ="_inf">Infinite</label>
                </li>
            </ul>
            <h3>Song Selection</h3>
            <ul class="startMenu">
                <li>
                    <input type="radio" id="myLibrary" name="source" value="myLibrary" checked="checked"></input>
                    <label for ="myLibrary">My Library</label>
                </li>
                <li>
                    <input type="radio" id="spotify" name="source" value="spotify">
                    <label for="spotify">Spotify Playlist</label>
                </li>
                <li id="selectPlaylist">
                    <label for="selectedSource">Select a playlist</label>
                    
                    <!-- Removed conditional display for now, choose between players library or spotify genre specific playlist
                    {% if source == 'myLibrary' %}
                        <select name="selectedSource" id="myPlaylist">
                            <option value="playlist1"> Playlist1</option>
                            <option value="playlist2">Playlist2</option>
                            <option value="playlist3">Playlist3</option>
                        </select>
                    {% else %} -->
                    <select name="selectedSource" id="spotifyPlaylist">
                        <option value="classicRock">Classic Rock</option>
                        <option value="pop">Pop</option>
                        <option value="indie">Indie</option>
                        <option value="showtunes">Showtunes</option>
                        <option value="country">Country</option>
                    </select>
                    {% endif %}
                </li>
            </ul>
            <ul><li><input class="startGameButton" type="submit" value="Start Game"></li></ul>
            
            
        </form>    
    </div>



    {% endblock %}
{% endblock %}

{% block javascript %}
<script>
    // Add event listeners for either radio button being clicked. When either button is clicked, toggleInvis is called
    document.getElementById("myLibrary").addEventListener("click", toggleInvis)
    document.getElementById("spotify").addEventListener("click", toggleInvis)
    
    // Get the playlist dropdown and its label so we can toggle their visibility
    const element = document.getElementById("selectPlaylist")

    // Make sure the dropdown displays correctly when the page first loads/reloads
    if (document.getElementById("myLibrary").checked){
            element.classList.add("hidden")
        }
    else{
        element.classList.remove("hidden")
    }

    function toggleInvis(){
        if (document.getElementById("myLibrary").checked){
            element.classList.add("hidden")
        }
        else{
            element.classList.remove("hidden")
        }
    }
</script>
{% endblock %}
