{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>Select the more popular song from below:</h1>
    <ul>
        {% for track in choices %}
            <li>
                <form action="{{ url_for('grade') }}" method="post">
                    <button type="submit" name="selected_track" value="{{ track['name'] }}">
                        {{ track['name'] }} by {{ track['artists'] }}
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}